# Google App Engine generated folder
appengine-generated/
backend/project/app/__pycache__/
backend/project/app/migrations/
backend/project/project/__pycache__/
backend/venv/
backend/project/db.sqlite3
